* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background: rgb(250, 250, 250) url(http://lorempixel.com/1920/1080/nature/);
    font-family: Lato, Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    background:url(./bgimg.avif);
  background-size:cover;
  background-position:right;
  background-attachment:fixed;
  }
  
  a {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
  }
  
  
  /*======================================================
                            Navbar
    ======================================================*/
  #navbar {
    background: white;
    color: rgb(13, 26, 38);
    position: fixed;
    top: 0;
    height: 60px;
    line-height: 60px;
    width: 100vw;
    z-index: 10;
  }
  
  .nav-wrapper {
    margin: auto;
    text-align: center;
    width: 70%;
  } @media(max-width: 1080px) {
      .nav-wrapper {
        width: 90%;
      }
    } @media(max-width: 638px) {
        .nav-wrapper {
          width: 100%;
        }
      } 
  
  
  .logo {
    float: left;
    margin-left: 28px;
    display: flex;
    font-size: 1.5em;
    height: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
  } @media(max-width: 768px) {
      .logo {
  /*       margin-left: 5px; */
      }
    }
  
  #navbar ul {
    display: inline-block;
    float: right;
    list-style: none;
    /* margin-right: 14px; */
    margin-top: -2px;
    text-align: right;
    transition: transform 0.5s ease-out;
    -webkit-transition: transform 0.5s ease-out;
  } @media(max-width: 1080px) {
      #navbar ul {
        display: none;
      }
    } @media(orientation: landscape) {
        #navbar ul {
          display: inline-block;
        }
      }
  
  #navbar li {
    display: inline-block;
  }
  
  #navbar li a {
    color: rgb(13, 26, 38);
    display: block;
    font-size: 0.7em;
    height: 50px;
    letter-spacing: 1px;
    margin: 0 20px;
    padding: 0 4px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
  }
  
  #navbar li a:hover {
    /* border-bottom: 1px solid rgb(28, 121, 184); */
    color: rgb(28, 121, 184);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
  }
  
  /* Animated Bottom Line */
  #navbar li a:before, #navbar li a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -1px;
    background: rgb(13, 26, 38);
  }
  
  #navbar li a:before {
    left: 0;
    transition: 0.5s;
  }
  
  #navbar li a:after {
    background: rgb(13, 26, 38);
    right: 0;
    /* transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); */
  }
  
  #navbar li a:hover:before {
    background: rgb(13, 26, 38);
    width: 100%;
    transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
  }
  
  #navbar li a:hover:after {
    background: transparent;
    width: 100%;
    /* transition: 0s; */
  }
  
  
  
  /*======================================================
                      Mobile Menu Menu Icon
    ======================================================*/
  @media(max-width: 928px) {
    .menuIcon {
      cursor: pointer;
      display: block;
      position: fixed;
      right: 15px;
      top: 20px;
      height: 23px;
      width: 27px;
      z-index: 12;
    }
  
    /* Icon Bars */
    .icon-bars {
      background: rgb(13, 26, 38);
      position: absolute;
      left: 1px;
      top: 45%;
      height: 2px;
      width: 20px;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    } 
  
    .icon-bars::before {
      background: rgb(13, 26, 38);
      content: '';
      position: absolute;
      left: 0;
      top: -8px;
      height: 2px;
      width: 20px;
  /*     -webkit-transition: top 0.2s ease 0.3s;
      transition: top 0.2s ease 0.3s; */
      -webkit-transition: 0.3s width 0.4s;
      transition: 0.3s width 0.4s;
    }
  
    .icon-bars::after {
      margin-top: 0px;
      background: rgb(13, 26, 38);
      content: '';
      position: absolute;
      left: 0;
      bottom: -8px;
      height: 2px;
      width: 20px;
  /*     -webkit-transition: top 0.2s ease 0.3s;
      transition: top 0.2s ease 0.3s; */
      -webkit-transition: 0.3s width 0.4s;
      transition: 0.3s width 0.4s;
    }
  
    /* Bars Shadows */
    .icon-bars.overlay {
      background: rgb(97, 114, 129);
      background: rgb(183, 199, 211);
      width: 20px;
      animation: middleBar 3s infinite 0.5s;
      -webkit-animation: middleBar 3s infinite 0.5s;
    } @keyframes middleBar {
        0% {width: 0px}
        50% {width: 20px}
        100% {width: 0px}
      } @-webkit-keyframes middleBar {
          0% {width: 0px}
          50% {width: 20px}
          100% {width: 0px}
        }
  
    .icon-bars.overlay::before {
      background: rgb(97, 114, 129);
      background: rgb(183, 199, 211);
      width: 10px;
      animation: topBar 3s infinite 0.2s;
      -webkit-animation: topBar 3s infinite 0s;
    } @keyframes topBar {
        0% {width: 0px}
        50% {width: 10px}
        100% {width: 0px}
      } @-webkit-keyframes topBar {
          0% {width: 0px}
          50% {width: 10px}
          100% {width: 0px}
        }
  
    .icon-bars.overlay::after {
      background: rgb(97, 114, 129);
      background: rgb(183, 199, 211);
      width: 15px;
      animation: bottomBar 3s infinite 1s;
      -webkit-animation: bottomBar 3s infinite 1s;
    } @keyframes bottomBar {
        0% {width: 0px}
        50% {width: 15px}
        100% {width: 0px}
      } @-webkit-keyframes bottomBar {
          0% {width: 0px}
          50% {width: 15px}
          100% {width: 0px}
        }
  
  
    /* Toggle Menu Icon */
    .menuIcon.toggle .icon-bars {
      top: 5px;
      transform: translate3d(0, 5px, 0) rotate(135deg);
      transition-delay: 0.1s;
      transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  
    .menuIcon.toggle .icon-bars::before {
      top: 0;
      transition-delay: 0.1s;
      opacity: 0;
    }
  
    .menuIcon.toggle .icon-bars::after {
      top: 10px;
      transform: translate3d(0, -10px, 0) rotate(-270deg);
      transition-delay: 0.1s;
      transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  
    .menuIcon.toggle .icon-bars.overlay {
      width: 20px;
      opacity: 0;
      -webkit-transition: all 0s ease 0s;
      transition: all 0s ease 0s;
    }
  }
  
  
  /*======================================================
                     Responsive Mobile Menu 
    ======================================================*/
  .overlay-menu {
    background: lightblue;
    color: rgb(13, 26, 38);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 15px;
    transform: translateX(-100%);
    width: 100vw;
    height: 100vh;
    -webkit-transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
  }
  
  .overlay-menu ul, .overlay-menu li {
    display: block;
    position: relative;
  }
  
  .overlay-menu li a {
    display: block;
    font-size: 1.8em;
    letter-spacing: 4px;
  /*   opacity: 0; */
    padding: 10px 0;
    text-align: right;
    text-transform: uppercase;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;

  }
  
  .overlay-menu li a:hover,
  .overlay-menu li a:active {
    color: rgb(28, 121, 184);
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }


  .about-class{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } 

  .my-img{
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    object-fit: cover;
    top: 200px;
    right: 100px;
    box-shadow: -4px -4px 8px 2px rgba(242, 181, 28, 0.8), 4px 4px 8px 2px rgba(202, 31, 196, 0.9);
    position: absolute;
    animation: img_animate 8s ease-in-out infinite;
  } 

  @keyframes img_animate {
    0% {
      border-radius:60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  
  }
} 
.tittle{
    margin-top: 40px;
  }
  .tittle h2{
    margin-top: 10px;
    font-size: 25px;
    font-weight: 700;
    width: fit-content;
    background:linear-gradient(
        to right, 
        #ff9e2c 0%, 
        #ff9c2a 10%, 
        #ff08bd 50%, 
        #ff00f2 100%
      );
    -webkit-background-clip: text;
    color: transparent;
    }

.main-div{
    margin-top: 100px;
  }
  .my-name{
    font-size: 60px;
    width: 600px;
  }
  .my-name span{
    font-size: 70px;
    background: linear-gradient(
        to right, 
        #ff9e2c 0%, 
        #ff9c2a 10%, 
        #ff08bd 50%, 
        #ff00f2 100%
      );
    -webkit-background-clip: text;
    color: transparent;
  }

  .intro{
    height: fit-content;
    width: 670px;
    font-size: 34px;
    font-weight: 700;
    margin-top: 20px;
    color: rgb(255, 255, 255);
  }
  .intro p{
    font-size: 20px;
    font-weight: 300;
    color: black;
    margin-bottom: -10px;
  }
  @media (max-width: 400px){
       
    .main-div {
        width: 90%;
        max-width: 420px;
        margin-top: 140px !important; 
      }
      .my-img {
        width: 120px; 
        height: 120px;
        top: 100px !important; 
        right: 50px;
      }
  }

  @media (max-width: 1080px) {
    .my-img {
      width: 120px; 
      height: 120px;
      top: 150px; 
      right: 50px;
    }
   
    .main-div {
      width: 90%;
      max-width: 420px;
      margin-top: 50px; 
    }
  
    .intro {
      width: 90%; 
    }
  }
  
  @media only screen and (min-width:800px) and (max-width: 1080px) {
    .my-img {
      width: 200px !important; 
      height: 200px !important;
      top: 150px; 
      right: 50px;
    }
   
    .main-div {
      width: 90%;
      max-width: 420px;
      margin-top: 50px; 
    }
  
    .intro {
      width: 90%; 
    }
  }
  @media (max-width: 1080px) {
    .my-name {
      font-size: 30px;
      width: 300px;
    }
  
    .my-name span {
      font-size: 40px;
    }
  
    .tittle h2 {
      font-size: 20px;
    }
  
    .intro {
      font-size: 20px;
      max-width: 90%; /* Adjust maximum width for smaller screens */
    }
  
    .intro p {
      font-size: 16px;
    }
  }


  .flex-use-class{
    display:flex;
  }

  /*======================================================
                   cards css of skills
    ======================================================*/
    .skills-class{
      background-color: white;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .cards-list {
      z-index: 0;
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    
    .card {
      margin: 30px auto;

      width: 230px;
      height: 230px;
      border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
      cursor: pointer;
      transition: 0.4s;
    }
    
    .card .card_image {
      width: inherit;
      height: inherit;
      border-radius: 40px;
    }
    
    .card .card_image img {
      width: inherit;
      height: inherit;
      border-radius: 40px;
      object-fit: cover;
    }
    
    .card .card_title {
      text-align: center;
      border-radius: 0px 0px 40px 40px;
      font-family: sans-serif;
      font-weight: bold;
      font-size: 30px;
      margin-top: -80px;
      height: 40px;
    }
    
    .card:hover {
      transform: scale(0.9, 0.9);
      box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
        -5px -5px 30px 15px rgba(0,0,0,0.22);
    }
    
    .title-white {
      color: white;
    }
    
    .title-black {
      color: black;
    }
    
    @media all and (max-width: 500px) {
      .card-list {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
      }
    }
    
    
    /*
    .card {
      margin: 30px auto;
      width: 300px;
      height: 300px;
      border-radius: 40px;
      background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-repeat: no-repeat;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
      transition: 0.4s;
    }
    */

     /*======================================================
                   cards css of work
    ======================================================*/

    .work-class{
      padding-top: 50px;
      padding-bottom: 70px;
    }

    article {
      --img-scale: 1.001;
      --title-color: black;
      --link-icon-translate: -20px;
      --link-icon-opacity: 0;
      position: relative;
      border-radius: 16px;
      box-shadow: none;
      background: #fff;
      transform-origin: center;
      transition: all 0.4s ease-in-out;
      overflow: hidden;
    }
    
    article a::after {
      position: absolute;
      inset-block: 0;
      inset-inline: 0;
      cursor: pointer;
      content: "";
    }
    
    /* basic article elements styling */
    article h2 {
      margin: 0 0 18px 0;
      font-family: "Bebas Neue", cursive;
      font-size: 1.9rem;
      letter-spacing: 0.06em;
      color: var(--title-color);
      transition: color 0.3s ease-out;
    }
    
    figure {
      margin: 0;
      padding: 0;
      aspect-ratio: 16 / 9;
      overflow: hidden;
    }
    
    article img {
      max-width: 100%;
      transform-origin: center;
      transform: scale(var(--img-scale));
      transition: transform 0.4s ease-in-out;
    }
    
    .article-body {
      padding: 24px;
    }
    
    article a {
      display: inline-flex;
      align-items: center;
      text-decoration: none;
      color: #28666e;
    }
    
    article a:focus {
      outline: 1px dotted #28666e;
    }
    
    article a .icon {
      min-width: 24px;
      width: 24px;
      height: 24px;
      margin-left: 5px;
      transform: translateX(var(--link-icon-translate));
      opacity: var(--link-icon-opacity);
      transition: all 0.3s;
    }
    
    /* using the has() relational pseudo selector to update our custom properties */
    article:has(:hover, :focus) {
      --img-scale: 1.1;
      --title-color: #28666e;
      --link-icon-translate: 0;
      --link-icon-opacity: 1;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }
    
    
    /************************ 
    Generic layout (demo looks)
    **************************/
    
    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }
    
    /* body {
      margin: 0;
      padding: 48px 0;
      font-family: "Figtree", sans-serif;
      font-size: 1.2rem;
      line-height: 1.6rem;
      background-image: linear-gradient(45deg, #7c9885, #b5b682);
      min-height: 100vh;
    } */
    
    .articles {
      display: grid;
      max-width: 1200px;
      margin-inline: auto;
      padding-inline: 24px;
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
      gap: 24px;
    }
    
    @media screen and (max-width: 960px) {
      article {
        container: card/inline-size;
      }
      .article-body p {
        display: none;
      }
    }
    
    @container card (min-width: 380px) {
      .article-wrapper {
        display: grid;
        grid-template-columns: 100px 1fr;
        gap: 16px;
      }
      .article-body {
        padding-left: 0;
      }
      figure {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
      figure img {
        height: 100%;
        aspect-ratio: 1;
        object-fit: cover;
      }
    }
    
    .sr-only:not(:focus):not(:active) {
      clip: rect(0 0 0 0); 
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap; 
      width: 1px;
    }


    /*======================================================
                   resume class
    ======================================================*/

    .resume-class{
      background-color: white;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    
  .resume{
    text-align: center;
  }
  .resume h2{
    margin-bottom: 30px;
    font-size: 40px;
  }
  .resume p{
    margin-top: 30px;
    margin-bottom: 30px;
    color:black;
    font-weight: 600;
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  .resume p img{
    border-radius: 40px;
  }
  .resume a{
    color: #cfd1d4;
    font-weight: 600;
    text-decoration: none;
    background-color: #031d60;
    padding: 10px;
    border-radius: 40px;
  }
  .resume a:hover{
    background-color: #0a2d86;
  }


    /*======================================================
                   contact class
    ======================================================*/

  .contact-class{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .contact {
    padding: 20px;
    text-align: center;
  
  }
  
  #contact-form {
    border-radius: 20px;
    background-color: #0a2d86;
    max-width: 400px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    padding: 40px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
  }
  input:focus, textarea:focus {
    outline: none;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button[type="submit"] {
    background-color: #007bff; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3; 
  }
  
  label,
  input,
  textarea,
  button {
    margin-bottom: 15px;
  }

  .contact-info {
    padding: 20px;
    text-align: center;
  }
  
  .contact-info h3 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .contact-info a {
    display: inline-block;
    margin: 10px; 
    border-radius: 50%; 
    padding: 5px; 
    text-decoration: none; 
  }
  
  .contact-info img {
    border-radius: 50%;
  }


    /*======================================================
                   footer class
    ======================================================*/

  
footer{

  bottom: 0;
  left: 0;
  right: 0;
background-color: white;
  height: auto;
  width: 100vw;

  padding-top: 40px;
  color: black;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color:black;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  
  border: 1.1px solid white;
  padding: 5px;

  border-radius: 50%;

}
.socials a i{
  font-size: 1.1rem;
  width: 20px;


  transition: color .4s ease;

}
.socials a:hover i{
  color: aqua;
}

.footer-bottom{
  background:white;
  width: 100vw;
  padding: 20px;
padding-bottom: 40px;
  text-align: center;
}
.footer-bottom p{
float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a{
color:black;
font-size: 16px;
text-decoration: none;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
.footer-menu{
float: right;

}
.footer-menu ul{
display: flex;
}
.footer-menu ul li{
padding-right: 30px;
display: block;
}
.footer-menu ul li a{
color: black;
text-decoration: none;
}
.footer-menu ul li a:hover{
color: #27bcda;
}

@media (max-width:500px) {
.footer-menu ul{
display: flex;
margin-top: 10px;
margin-bottom: 20px;
}
}